includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:

    paths:
        - src

    level: 9

    ignoreErrors:
        - '#Unsafe usage of new static\(\).#'

    excludePaths:

    checkMissingIterableValueType: false

    checkGenericClassInNonGenericObjectType: false
