includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:

    paths:
        - src

    level: 9

    ignoreErrors:
        - '#Unsafe usage of new static\(\).#'
        -   identifier: missingType.generics
        -   identifier: missingType.iterableValue
        -   identifier: binaryOp.invalid
        -   identifier: return.type
        -   identifier: argument.type
        -   identifier: offsetAccess.nonOffsetAccessible

    excludePaths:
        - ./src/Html/Fluent.php
